<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Amod Mahajan/getStartedWithSelenium/src/test/java">
        <classes>
            <class name="basicstest.HelloSelenium">
                <methods>
                    <include name="openBrowser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>